body {
    background-color: rgba(239, 235, 228, 1);
    color: #414141;
    font-family: "Montserrat", sans-serif;
}

.main-container {
    width: 100vw;
    max-width: 1280px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7.5px;
    display: flex;
    position: relative;
    max-height: 700px;
    height: 100vh;
    align-items: center;
    top: 70px;
}


.corners {
    --s: 50px;
    /* the size on the corner */
    --t: 5px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #646464;
    /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

.corners:hover {
    outline-offset: calc(var(--g)/-2);
}

.vl {
    border-right: 3px solid #646464;
    height: 500px;
}

/* .vl:hover {
    border-right: 3px solid #ce4c26;
} */

.menu-links {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646464;
    text-decoration: none;
    font-size: 30px;
}

.menu-links:hover {
    color: #f85525;
    /* color: #222d34; */
}

.profile-pic {
    width: 130px;
    height: 130px;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#displayArea {
    margin-left: 50px;
    margin-right: 0px;
}

.project-img {
    max-height: 110px;
}

.project-listing {
    padding-bottom: 30px;
    padding-top: 30px;
}

.project-listing p {
    text-align: justify;
}

.icons {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
}

.icons i {
    margin-left: 10px;
    font-size: 30px;
    color: #646464;
}

.icons i:hover {
    color: #f85525;
}

#carouselExample {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    top: unset !important;
}

.tech-icons {
    justify-content: end;
    display: flex;
}

.tech-icons img {
    max-height: 30px;
    padding-right: 10px;
    filter: invert(39%) sepia(0%) saturate(1%) hue-rotate(137deg) brightness(99%) contrast(98%);

}

.project-listing:hover .tech-icons img {
    filter: unset;
}

.project-listing:hover .project-img {
    transform: scale(1.2);
    transform-origin: left top;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* #recipeBook .project-listing:hover .project-img {
    transform: scale(1.2);
    transform-origin: left top;
    transition: transform 0.3s ease;
} */

.project-listing:hover #railwayIcon {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(166deg) brightness(24%) contrast(109%);
}

.hvr-sweep-to-right {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e4dcc57d;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border: 1px solid #d0cfcf;
    border-radius: 35px;
}

.carousel-item>.row {
    margin-left: 0;
    margin-right: 0;
}

.hvr-corners:hover {
    --s: 50px;
    /* the size on the corner */
    --t: 5px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #646464;
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

.hvr-fade {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: #dedbd3;
    border: 2px solid #dedbd3;
    border-radius: 20px;
}


.row-divider {
    margin-top: 21px;
    margin-bottom: 21px;
}

.row-controls {
    margin-top: 41px;
    padding-top: 25px;
}

.txt-center {
    text-align: center;
}

#aboutSection {
    text-align: justify;
}

.project-links {
    text-decoration: none;
    color: #646464;
}

.project-links:hover {
    color: #404040;
}

#headline {
    font-size: 0.85rem;
}